body{
    background-color: #dcdcdc;
    margin: 0;
}

.contenedor{
    width: 80%;
    margin: auto;
}

.caja{
    border-bottom: 8px blue solid;
    /*esto define el borde con los valores de tamaño , color y tipo de borde*
    Si queremos que  se haga un borde en todo el conten se debe indicar solo border*/
    padding: 20px 10px 30px 5px;
}

.caja h1{
    text-decoration: underline;
}

.caja2{
    border: 5px green dotted;
    padding: 15px;
    margin: 20px 0;
}

.caja3{
    border: 5px black solid;
    border-radius: 5px;
    padding: 15px;
    margin: 20px 0;
}

.contenedor2{
    float: left;
    width: 33%;
    margin-right: 2px;
}
.galeria img{
    width: 100%;
    height: auto;
}
.separador{
    clear: float;
    margin-top: 300px;
}

.galeria img:hover{
    opacity: 0.5;
}
